// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$f-fs-name: 'f-fs';
$f-fs-x: 0px;
$f-fs-y: 25px;
$f-fs-offset-x: 0px;
$f-fs-offset-y: -25px;
$f-fs-width: 13px;
$f-fs-height: 20px;
$f-fs-total-width: 47px;
$f-fs-total-height: 102px;
$f-fs-image: '../images/sprite/sprite.png';
$f-fs: (0px, 25px, 0px, -25px, 13px, 20px, 47px, 102px, '../images/sprite/sprite.png', 'f-fs', );
$file-name: 'file';
$file-x: 0px;
$file-y: 0px;
$file-offset-x: 0px;
$file-offset-y: 0px;
$file-width: 15px;
$file-height: 15px;
$file-total-width: 47px;
$file-total-height: 102px;
$file-image: '../images/sprite/sprite.png';
$file: (0px, 0px, 0px, 0px, 15px, 15px, 47px, 102px, '../images/sprite/sprite.png', 'file', );
$idea-name: 'idea';
$idea-x: 0px;
$idea-y: 55px;
$idea-offset-x: 0px;
$idea-offset-y: -55px;
$idea-width: 47px;
$idea-height: 47px;
$idea-total-width: 47px;
$idea-total-height: 102px;
$idea-image: '../images/sprite/sprite.png';
$idea: (0px, 55px, 0px, -55px, 47px, 47px, 47px, 102px, '../images/sprite/sprite.png', 'idea', );
$spritesheet-width: 47px;
$spritesheet-height: 102px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($f-fs, $file, $idea, );
$spritesheet: (47px, 102px, '../images/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
